export(
is.fts,
extract,
ftsm,
plot.ftsm,
plot.fm,
plot.fmres,
forecast.ftsm,
isfe.fts,
plot.ftsf,
plot.fm,
residuals.fm,
summary.fm,
diff.fts,
mean.fts,
median.fts,
var.fts,
error,
fbootstrap,
fplsr,
dynupdate,
var.default,
sd.default,
sd.fts,
quantile.fts,
median,
sd,
var
)


S3method(mean,fts)
S3method(median,fts)
S3method(quantile,fts)
S3method(plot,ftsf)
S3method(plot,fm)
S3method(plot,fmres)
S3method(residuals,fm)
S3method(summary,fm)
S3method(forecast,ftsm)
S3method(var,fts)
S3method(sd,fts)
S3method(diff,fts)
S3method(print,fm)
S3method(print,ftsm)
S3method(print,ftsf)
S3method(print,fmres)

import(forecast)

import(grDevices)

importFrom(stats)
